{% from "widgets/helpers.jinja2" import err_warn_info %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:tal="http://xml.zope.org/namespaces/tal">
<head>
    <title>{{ s.show_setting("TITLE") }} {% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="keywords" content="{{ s.show_setting("KEYWORDS") }}" />
    <meta name="description" content="{{ s.show_setting("DESCRIPTION") }}" />
    <meta name="google-site-verification" content="cpu1kUhOMijlT5AGjQz4wjNvlLujKay4VrfWwztWhI0" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Start of javascript and css needed for forms -->
    {% for reqt in js_links %}
      <script type="text/javascript" src="/static-deform/{{ reqt }}"></script>
    {%- endfor %}
    {% for reqt in css_links %}
      <link rel="stylesheet" href="/static-deform/{{ reqt }}" type="text/css" />
    {%- endfor %}
    <!-- End of javascript and css needed for forms -->
    <script type="text/javascript">
        deform.load()
    </script>
    <link rel="stylesheet" href="/css" 
                            type="text/css" media="screen" charset="utf-8" />
</head>
<body>
<div class="pageborder">
  <span class="search">
    <form action="/redirect/search" method="post" class="searchform">
      <label for="query">Search: </label>
      <input type="text" name="query" />
      <input type="submit" value="Submit" />
    </form>
  </span>
<h1 class="header">Pynguins</h1>
<div class="menus">
    <!-- This variable contains the logged in user's username -->
    {% set userid = w.logged_in(request) %}
    {% macro menu(display_name, name, userarea=False) %}
        <!-- Check to see if there are any menu items in first place -->
        {% if w.generate_menu(name, context, request) %}
            <div class="menu">
            <h3>{{ display_name }}</h3>
            <ul>
                <!-- Check to see if we are displaying a user area menu, off by default -->
                {% if userarea %}
                <!-- Display a small helpful message stating if you are logged in -->
                <h4>{% if not userid %}Not logged in.{% else %}Logged in as {{ userid }}.{% endif %}</h4>
                {% endif %}
              <!-- A for loop that outputs all the menu items on the main menu, edit this to your liking -->
              {%- for item in w.generate_menu(name, context, request): %}
              <li><a href="{{ item[0] }}">{{ item[1] }}</a></li>
              {%- endfor %}
            </ul>
           </div>
        {% endif %}
    {% endmacro %}
    {{ menu("Main Menu", "main_menu") }}
    {{ menu("Hosted Sites", "hosted_sites") }}
    {{ menu("Source Code", "source_code") }}
    {{ menu("User Area", "user_area") }}
    {{ menu("Admin Area", "admin_area") }}
  
</div>
{{ err_warn_info(request) }}
  <div class="content">
    <!-- Display the main content on the page -->
    {% block content %}{% endblock %}
  </div>
</div>
</body>
</html>